.list {
  margin-top: 20px !important;
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transform: translateX(0px);

    .list-btn-list {
      display: flex;
      align-items: center;
    }
  }
  .list-link {
    text-decoration: none;
    position: relative;
    :hover {
      color: rgb(116, 138, 238);
      transform: translateX(5px);
    }
  }
}

.main-modal {
  color: #000 !important;
}

.student-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 > span {
    font-size: 20px;
  }
}
